<config>
        <settings>
                <height>60</height>
                <hposition>center</hposition>
                <vposition>bottom</vposition>
                <ontop>False</ontop>
                <theme>SolidBlue</theme>
                <debug>True</debug>
                <width>100</width>
        </settings>
        <plugins>
            <plugin name="clock" />
        	<plugin name="flexible_space" /><plugin name="quickterminal" /><plugin name="separator" /><plugin name="pager" />
        <plugin name="menu" /></plugins>
</config>