
<config>
	<settings>
		<debug>False</debug>
		<height>50</height>
		<position>bottom</position>
		<ontop>True</ontop>
		<theme>SolidBlue-png</theme>
	</settings>
	<plugins>
		<!--<plugin name="menu" />
		<plugin name="quickterminal" />-->
		<!--<plugin name="spacer">
			<width>20</width>
		</plugin>-->
		<!--<plugin name="embedder" />-->
		<plugin name="mediaplayer_control">
			<player>quodlibet</player>
		</plugin>
		<plugin name="flexible_space" />
		<plugin name="pager" />
		<!--<plugin name="reloader" />
		<plugin name="windowlist" />
		<plugin name="searchbox" />-->
		<plugin name="separator" />
		<plugin name="clock" />
	</plugins>
</config>
